.cursor, .mini_cursor {
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transform-origin: 100% 100%;
    z-index: 1;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
}

.header__links li a:hover + .cursor{
    border-color: blue;
}

.mini_cursor {
    width: 8px;
    height: 8px;
    background-color: blue;
    transition: all .1s ease;
}