:root {
    --accent: blue;
}

body {
    overflow-x: hidden;
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    cursor: none;
}

li a:hover {
    color: var(--accent);
}

svg {
    transition: all .3s ease-out;
}

svg:hover {
    transform: translateY(-5px);
    fill: var(--accent);
}