.header {
    width: 100vw;
    height: 80px;
    z-index: 1000;
}

nav {
    height: 80px;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-logo {
    display: none;
}

nav ul {
    list-style-type: none;
    transition: all .3s ease-in-out;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a, nav ul li a:visited {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
}

.float-left li a:after {
    content: "";
    background-color: rgba(var(--accent) 1);
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 30px;
    opacity: 0;
    transition: all .3s ease-out;
}

.float-left li a:hover:after {
    content: "";
    top: 25px;
    opacity: 1;
}

nav ul li a:hover, nav ul li a:visited:hover {
    color: rgba(var(--accent) 1);
}

.header__socials_link {
    width: 30px;
    line-height: 80px;
    height: 80px;
}

.float-right {
    float: right;
    margin-right: 20px;
}

.float-left {
    float: left;
    margin-left: 20px;
}

#hamburger {
    display: none;
}

#hamburger:checked ~ ul {
    transform: translateX(0);
}

label svg {
    display: none;
    width: 30px;
    float: right;
    line-height: 80px;
    margin-right: 20px;
}

svg {
    transition: all .3s ease-out;
}

svg:hover {
    transform: translateY(-5px);
    fill: rgba(var(--accent) 1);
}

@media (max-width: 700px) {
    ul {
        transform: translateX(100%);
    }

    svg:hover {
        transform: translateY(0);
        fill: black;
    }
    .header-logo {
        margin-left: 20px;
        width: 30px;
        height: 80px;
        line-height: 80px;
    }
    nav > svg {
        display: inline;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 0;
        background-color: white;
        z-index: 100;
        padding: 100px;
    }

    .float-left, .float-right {
        float: none;
        margin: 0;
    }

    nav ul li {
        display: block;
        width: 200px;
        margin: auto;
    }

    .float-right {
        display: flex;
        margin: auto;
        gap: 10px;
        width: 200px;
        transform: translateY(10px);
    }

    .header__socials_link {
        width: 30px;
    }

    nav ul li a {
        font-size: 1.6em;
    }

    label svg {
        display: inline;
        line-height: 80px;
        height: 80px;
    }

}