.hamburger, .burger-shower {
    display: none;
}

.header {
    width: 100vw;
    height: 90px;
}

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header__links {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: 60px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    transform: translateY(20px);
    transition: all .3s ease;
}

.header__links li a:hover {
    color: rgba(var(--accent) 1);
}

.header__links li a:after {
    position: relative;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba(var(--accent) 1);
    opacity: 0;
    margin-top: 5px;
    transform: translateY(5px);
    transition: all .3s ease-out;
}

.header__links li a:hover:after {
    content: "";
    opacity: 1;
    transform: translateY(0);

}

.header__socials {
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 60px;
}

.header__socials_link {
    width: 30px;
}



@media only screen and (max-width: 600px) {
    nav {
        justify-content: flex-start;
    }

    .header__links {
        margin-left: 20px;
        gap: 15px;
    }

    .hamburger {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 15px;
        color: black;
        font-size: 1.2em;
        background-color: transparent;
        border: none;
    }

    .burger-shower, .burger-menu {
        display: none;
    }

    .burger-shower:checked ~ .burger-menu {
        display: block;
    }

    .burger-shower:checked ~ .hamburger:after {
        transform: rotate(-45deg);
        transition: all .3s ease-in-out;
    }

    .hamburger:after {
        content: "";
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        margin-left: 8px;
        padding: 3px;
        transform: rotate(45deg);
        transition: all .3s ease-in-out;
    }

    .header__links li a:after {
        display: none;
    }

    .burger-menu {
        position: absolute;
        left: 320px;
        top: 60px;
        padding: 10px;
        margin-right: 0;
        background-color: white;
    }

    .burger-menu li {
        margin-top: 15px;
    }
}