main svg {
    stroke: black;
    display: block;
    margin: 70px auto 0;
    width: 90px;
    fill: transparent;
    animation: fillBlack .6s ease-out forwards;
    animation-delay: .6s;
}

main svg:hover {
    transform: translateY(0);
}
  
.path {
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: dash .6s ease-out forwards;
}
  
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
  
@keyframes fillBlack {
    to {
      fill: black;
    }
}

.banner_title {
    text-align: center;
    font-size: 2.4em;
    margin: 50px 0 10px 0;
}

.banner_text {
    text-align: center;
    font-size: 1.4em;
}

.wrapper {
    opacity: 0;
    margin: 0 20px;
    transform: translateY(10px);
    animation: slideUp .3s ease-out forwards;
    animation-delay: .6s;
}

@keyframes slideUp{
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section_projects {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    position: relative;
    height: 100%;
}

.project__img {
    display: block;
    width: 100%;
    height: 100%;
}

.project__text_overlay, .project__text_overlay:visited {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--accent) .3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
}

.project__text_overlay:hover {
    opacity: 1;
}

.project__text_overlay > * {
    transform: translateY(20px);
    transition: transform .2s;
}

.project__text_overlay:hover > * {
    transform: translateY(0);
}

@media only screen and (max-width: 1200px) {
    .section_projects {
        margin-top: 60px;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        width: 60px;
        margin: 20px auto 0;
    }

    .banner_title {
        margin: 40px auto 10px;
        font-size: 1.4em;
    }

    .banner_text {
        font-size: 1em;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 600px) {
    .section_projects {
        grid-template-columns: 1fr;
    }
}